/* wiki.droo.foo / lib.droo.foo - Terminal Aesthetic CSS */
/* Based on droo.foo design system - Monaspace fonts, sharp corners, 2px borders */

/* Import Tailwind for utility classes only */
@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/wiki_web";

/* Heroicons plugin */
@plugin "../vendor/heroicons";

/* Import monospace design system */
@import "./monospace.css";
@import "./themes.css";
@import "./components.css";
@import "./utilities.css";

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }
